<span id="<%= dom_id(message, :answered_by) %>" class="message__meta-block" data-controller="hide-if" data-hide-if-role-value="member">
  <% if message.answered? %>
    <span class="message__answered message__answered-by-me" data-controller="show-if" data-show-if-id-value="<%= message.answered_by_id %>">
      Answered
    </span>
    <span class="message__answered" data-controller="hide-if" data-hide-if-id-value="<%= message.answered_by_id %>">
      Answered by <%= message.answered_by&.name %>
    </span>
  <% end %>
</span>