log/
storage/
tmp/

# Ignore IDE-specific files and directories
.idea/
.vscode/
*.sublime-workspace

# Ignore RVM-based gemset selection
.ruby-gemset
.env
dump.rdb

# Ignore Kamal secrets
.kamal/secrets

