<div id="<%= dom_id(message, :answering) %>" hidden data-controller="show-if" data-show-if-roles-value='["expert","administrator"]'>
  <% if message.answered? %>
    <%= button_to message_answer_path(message), method: :delete, class: "btn message__action-btn full-width", hidden: true,
                  data: { controller: "show-if", show_if_id_value: message.answered_by_id, action: "popup#close" } do %>
      <span>Mark unanswered</span>
    <% end %>
    <span class="btn message__action-btn full-width txt-subtle no-select" data-controller="hide-if" data-hide-if-id-value="<%= message.answered_by_id %>">
      Mark answered
    </span>
  <% else %>
    <%= button_to message_answer_path(message), method: :post, data: { action: "popup#close" }, class: "btn message__action-btn full-width" do %>
      <span>Mark answered</span>
    <% end %>
  <% end %>
</div>