<%= tag.details class: "position-relative avatar",
                data: { controller: "popup", 
                        action: "keydown.esc->popup#close toggle->popup#toggle click@document->popup#closeOnClickOutside", 
                        popup_orientation_top_class: "popup-orientation-top" } do %>
  <summary class="btn avatar">
    <%= avatar_tag user, loading: :lazy %>
  </summary>

  <div class="popup-menu message__avatar-menu border shadow" data-popup-target="menu">
    <%= render 'users/quick_profile', user: user %>
  </div>
<% end %>