<div id="wrapper">
    <div id="main">
        <div class="inner">
            <div id="container02" class="container default">
                <div class="wrapper">
                    <div class="inner">
                        <h1 id="text05">Start Small</h1>
                        <p id="text06">
                            <span class="p">Forget about &quot;starting a company.&quot;</span>
                            <span class="p">Try making $1,000 with a small project first.</span>
                            <span class="p">When you join Small Bets you&#39;ll find a support network ready to help you get your first small wins.</span>
                        </p>
                        <hr id="divider01">
                        <ul id="buttons03" class="buttons">
                            <li>
                                <a href="/chat" class="button n01" role="button">Sign in</a>
                            </li>
                        </ul>
                        <p id="text08">
                            <%= number_with_delimiter(@user_count) %> members. 
                            <strong>
                                <a href="#join">Want to join?</a>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div id="columns01" data-scroll-id="join" data-scroll-behavior="default" data-scroll-offset="0" data-scroll-speed="3" class="container default">
                <div class="wrapper">
                    <div class="inner">
                        <h3 id="text01">Lifetime membership</h3>
                        <div id="list02" class="list">
                            <ul>
                                <li>
                                    <p>Get feedback and support on your projects in our Campfire chat.</p>
                                </li>
                                <li>
                                    <p>Hundreds of conversations every day in a safe space without any of the negativity on social media.</p>
                                </li>
                                <li>
                                    <p>Ask questions, get answers by experts with first-hand experience.</p>
                                </li>
                                <li>
                                    <p>Make friends, find cofounders, build your reputation.</p>
                                </li>
                                <li>
                                    <p>Access a library of 50 recorded classes to level up your knowledge.</p>
                                </li>
                                <li>
                                    <p>Pay once, member forever. 100% satisfaction or your money back. No questions asked.</p>
                                </li>
                            </ul>
                        </div>
                        <hr id="divider03">
                        <ul id="buttons01" class="buttons">
                            <li>
                                <a href="http://dvassallo.gumroad.com/l/small-bets?wanted=true&offer_code=BF2024" class="button n01" role="button">JOIN NOW</a>
                            </li>
                        </ul>
                        <p id="text10">Join <%= number_with_delimiter(@user_count) %> members. Pay once, member forever.</p>
                    </div>
                </div>
            </div>
            <div id="container03" data-scroll-id="library" data-scroll-behavior="default" data-scroll-offset="0" data-scroll-speed="3" class="container default">
                <div class="wrapper">
                    <div class="inner">
                        <h3 id="text03">Library</h3>
                        <p id="text07">50 classes, 90 hours of high quality education, all in one place.</p>
                        <div id="list03" class="list">
                            <ul>
                                <li>
                                    <p>Building a Media Business - Arvid Kahl</p>
                                </li>
                                <li>
                                    <p>Intro to Internet Pipes - Steph Smith</p>
                                </li>
                                <li>
                                    <p>Understanding LinkedIn - Justin Welsh</p>
                                </li>
                                <li>
                                    <p>Publish a Best-Selling Course on Udemy - Hassan Osman</p>
                                </li>
                                <li>
                                    <p>Amazon KDP Crash Course - Greg Lim</p>
                                </li>
                                <li>
                                    <p>Effortless Screencasting - Aaron Francis</p>
                                </li>
                                <li>
                                    <p>Domain-First Development - Peter Askew</p>
                                </li>
                                <li>
                                    <p>Delve Into Expiring Domain Names - Peter Askew</p>
                                </li>
                                <li>
                                    <p>Building Businesses on Wordpress - Peter Askew</p>
                                </li>
                                <li>
                                    <p>Spreading Ideas with Memes - Dagobert Renouf</p>
                                </li>
                                <li>
                                    <p>Understanding the X Algorithm - Dagobert Renouf</p>
                                </li>
                                <li>
                                    <p>Emerging from the Void on X - Daniel Vassallo</p>
                                </li>
                                <li>
                                    <p>Make $500 on Upwork by Monday - Sean O&#39;Dowd</p>
                                </li>
                                <li>
                                    <p>Enough GPT to be Dangerous - Sairam Sundaresan</p>
                                </li>
                                <li>
                                    <p>AI for the Rest of Us - Sairam Sundaresan</p>
                                </li>
                                <li>
                                    <p>Growing on Substack - Elle Griffin</p>
                                </li>
                                <li>
                                    <p>Getting Started on YouTube - Aprilynne Alter</p>
                                </li>
                                <li>
                                    <p>Casual YouTube Creation - Azul Wells</p>
                                </li>
                                <li>
                                    <p>Marketing Fundamentals for Non-Marketers - Daniel Vassallo</p>
                                </li>
                                <li>
                                    <p>Fundamentals of Internet Marketing - Amanda Natividad</p>
                                </li>
                                <li>
                                    <p>Gumroad Crash Course - Daniel Vassallo</p>
                                </li>
                                <li>
                                    <p>The Art of Podcasting - Espree Devora</p>
                                </li>
                                <li>
                                    <p>Explaining Ideas Visually - Janis Ozolins</p>
                                </li>
                                <li>
                                    <p>Intro to SEO - Jordan O&#39;Connor</p>
                                </li>
                                <li>
                                    <p>SEO Keyword Research - Jordan O&#39;Connor</p>
                                </li>
                                <li>
                                    <p>Building a Content Roadmap for SEO - Jordan O&#39;Connor</p>
                                </li>
                                <li>
                                    <p>Wandering the Pathless Path - Paul Millerd</p>
                                </li>
                                <li>
                                    <p>Building &amp; Launching macOS Apps with SwiftUI - Grace Huang</p>
                                </li>
                                <li>
                                    <p>Intro to Google Ads - Jay Mac</p>
                                </li>
                                <li>
                                    <p>Extremely Minimum Viable Video - Cam Houser</p>
                                </li>
                                <li>
                                    <p>Build in Public on Twitch - Charlie Coppinger</p>
                                </li>
                                <li>
                                    <p>What to Expect When You Go Self-Employed - Catherine Cusick</p>
                                </li>
                                <li>
                                    <p>A Practical Guide to Self-Employment Taxes - Catherine Cusick</p>
                                </li>
                                <li>
                                    <p>Getting Started with Short-Term Rentals - Isaac French</p>
                                </li>
                                <li>
                                    <p>Creating Income through Real Estate - Louie Bacaj</p>
                                </li>
                                <li>
                                    <p>A Quick Start Guide to Adult ADHD - Jesse Anderson</p>
                                </li>
                                <li>
                                    <p>Getting The Attention of Influential People - Benjamin Carlson</p>
                                </li>
                                <li>
                                    <p>Getting Featured in the Media - Benjamin Carlson</p>
                                </li>
                                <li>
                                    <p>Getting Started with Midjourney - Christian Heidorn</p>
                                </li>
                                <li>
                                    <p>The Basics of Buying &amp; Selling Businesses - Thomas Smale</p>
                                </li>
                                <li>
                                    <p>Art of Interviewing - Danny Miranda</p>
                                </li>
                                <li>
                                    <p>Self-Sponsor Your Own US Green Card - Archie Agrawal</p>
                                </li>
                                <li>
                                    <p>Crowdfunding Crash Course - Tugra Sahiner</p>
                                </li>
                                <li>
                                    <p>State of the Creator Economy - Sahil Lavingia</p>
                                </li>
                                <li>
                                    <p>Equity Crowdfunding for Solopreneurs - Sahil Lavingia</p>
                                </li>
                                <li>
                                    <p>Notion for Creators and Entrepreneurs - Monica Lim</p>
                                </li>
                                <li>
                                    <p>A Stoic Guide to Dealing with Uncertainty - Mahmoud Rasmi</p>
                                </li>
                                <li>
                                    <p>A Pragmatic Guide to Business Ethics - Mahmoud Rasmi</p>
                                </li>
                                <li>
                                    <p>Reproducible Success Strategies and Ergodicity - Luca Dellanna</p>
                                </li>
                                <li>
                                    <p>Small Bets Fundamentals - Daniel Vassallo</p>
                                </li>
                            </ul>
                        </div>
                        <hr id="divider04">
                        <ul id="buttons05" class="buttons">
                            <li>
                                <a href="http://dvassallo.gumroad.com/l/small-bets?wanted=true&offer_code=BF2024" class="button n01" role="button">JOIN NOW</a>
                            </li>
                        </ul>
                        <p id="text11">Join <%= number_with_delimiter(@user_count) %> members. Pay once, member forever.</p>
                    </div>
                </div>
            </div>
            <div id="container04" data-scroll-id="testimonials" data-scroll-behavior="default" data-scroll-offset="0" data-scroll-speed="3" class="container default">
                <div class="wrapper">
                    <div class="inner">
                        <h3 id="text04">Testimonials</h3>
                        <div id="list01" class="list">
                            <ul>
                                <li>
                                    <p>
                                        Arvid Kahl: &quot;This isn&#39;t just an 
                                        <strong>amazing community</strong>
                                            for eager founders to learn in; it&#39;s also an expression of Daniel&#39;s expansive teaching mindset. Allowing people to teach themselves by re-living your past lectures is an active act of empowering those who already have an overflowing schedule.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Florin Pop: &quot;There are 
                                        <strong>tons of webinars with amazing people</strong>
                                        , and the community is full of amazing people.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Tony Dinh: &quot;Small Bets is 
                                        <strong>the most active server</strong>
                                            on my Discord!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Espree Devora: &quot;Small Bets is the most high value engaged helpful business community on the internet. We pay a one time small fee for life time access to 
                                        <strong>quality connections and impactful education that transforms</strong>
                                            our lives.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Kenny Liu: &quot;I just finished the Small Bets lecture about Upwork with @SeanODowd15. 
                                        <strong>Countless gems for takeaway!</strong>
                                            @dvassallo and his team continue to provide real value for the Small Bets community. So glad I signed up!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>Ergest Xheblati: &quot;Honestly the best community I’ve been a part of in the last 10 years&quot;</p>
                                </li>
                                <li>
                                    <p>
                                        Aprilynne Alter: &quot;I can easily say that the Small Bets community has been 
                                        <strong>one of the most engaged groups of people</strong>
                                            I&#39;ve had the pleasure of teaching! Great community there.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Hassan Osman: &quot;This course by @dvassallo will show you: How to think about starting a business; How to reduce the risk of failure; How to use randomness to your advantage. 
                                        <strong>Truly one of the best courses I&#39;ve taken</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Dan Rowden: &quot;The Discord is 
                                        <strong>full of amazing makers</strong>
                                        . It’s like a curated group of the best from Twitter, plus more interaction and value.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Vic Vijayakumar: &quot;You get an active community Discord, lots of guest lectures (with recordings), tons of freebies (and/or discounts to various saas / ebooks / courses), and in my case I also 
                                        <strong>made some very good friends</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Monica Lim: &quot;You don&#39;t need another course but this by @dvassallo legit freed me from self-sabotage and procrastination. It&#39;s 
                                        <strong>value dense</strong>
                                        , affordable and the community is still small and quite active.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Manny de Souza: &quot;By far, the best content I consumed about entrepreneurship and lifestyle. It is amazing to be 
                                        <strong>among of so many like minded people</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Jeffrey Guenther: &quot;
                                        <strong>Absolutely worth the price</strong>
                                            of admission. It&#39;s like having access to a bunch of paid courses.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Ankur Tyagi: &quot;If you&#39;re looking for an awesome community. If you&#39;re trying small bets and need 
                                        <strong>genuine feedback</strong>
                                        . If you need to understand how randomness played a big role in your life. This is for you.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Jeremy Smith: &quot;Daniel is solidifying many concepts I had some intuition/pattern matching for, but couldn&#39;t yet articulate. 
                                        <strong>Highly recommended</strong>
                                        !&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        George McEntegart: &quot;A community that 
                                        <strong>keeps giving value again and again</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Ankita Kulkarni: &quot;
                                        <strong>Highly recommend it</strong>
                                        , you start thinking in small bets vs taking on huge projects which cost you time and money!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Rafael Rinaldi: &quot;This community truly is 
                                        <strong>the gift that keeps on giving</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Jordan Davis: &quot;Very few one-time purchases continue to add more and 
                                        <strong>more value over time</strong>
                                            like this.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Brock Briggs: &quot;The community is 
                                        <strong>absolutely invaluable</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Brandon Fearing: &quot;Joined @dvassallo small bets community yesterday and the guest lecture recordings are 100%. Found @searchbound&#39;s domain first development 
                                        <strong>super intriguing</strong>
                                        . Maybe now I can put my 40+ unused domains to use!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Hugo Hamel: &quot;It is so 
                                        <strong>refreshing and inspiring</strong>
                                            to be part of the Small Bets community. It might be bad for the economy, but it&#39;s extremely healing in many ways to experience. Truly a beautiful community!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Nick Hammond: &quot;Love being able to go back into the recordings on my own time. Appreciate 
                                        <strong>all of the info you&#39;ve collected in one place</strong>
                                        !&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Angad Singi: &quot;Being a part of smallbets.co, I love the community. The instant feedback, 
                                        <strong>quality conversations</strong>
                                        , and exploring possibilities of digital business is superb.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Corey Wilks: &quot;Shared the same wins in a few communities recently. 
                                        <strong>Nothing beats the supportiveness</strong>
                                            of the Small Bets community. &quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Shivam Dewan: &quot;smallbets.co is my 
                                        <strong>new idea generator</strong>
                                        . If you need inspiration and a supportive community, this is the place to be. Been into so many discord groups but only this one I actually participate in.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Travis Hayes: &quot;Highly recommend looking into Daniel&#39;s small bets community. As a new active twitter user, I often have a ton of questions. 
                                        <strong>The community is engaged</strong>
                                            and has been helpful.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Miche Priest: &quot;Taking this course and joining this Discord has been an incredible learning journey. Top notch, creative, generous, engaged people coming together to figure out how to design work around life. 
                                        <strong>Makings solopreneurship not so solo</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Enrique Benitez: &quot;Just finished this course by @dvassallo and it&#39;s by far 
                                        <strong>the best course I&#39;ve ever taken</strong>
                                        , Daniel explains and dissects the process of building a portfolio of small bets thoroughly, from product ideas, randomness and luck, making money and lifestyle design.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Jason Akinaka: &quot;
                                        <strong>Highly recommend</strong>
                                            it for those who, like me, dread the 9-5 and have way too many interests to ever want to go back.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Takamichi Okubo: &quot;Just finished @dvassallo&#39;s awesome cohort course. It&#39;s 9+ hours of 
                                        <strong>pure informativeness and inspiration</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Gaurav Singh: &quot;For a decade, I was on a set life path. Then I decided to change it all and start from scratch. This was hard. For many months, I was lost. Till I did @dvassallo’s Small Bets course. It was one of the most 
                                        <strong>transformative experiences of my life</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Trevor O&#39;Hara: &quot;Proud to say I’m a graduate of the very first cohort! 
                                        <strong>Definitely worth it</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Andreas Lehr: &quot;I joined the Small Bets course by @dvassallo in April and can highly recommend it. The content is really great and inspiring. The outstanding part is the Discord community which is very active — you get 
                                        <strong>lots if inspiration</strong>
                                            just by consuming the participants content alone.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Aaron Batilo: &quot;Just launched my first small bet after being in this community. The lessons learned gave me 
                                        <strong>much more confidence</strong>
                                            about taking risks and investing my time.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Haifa Altwaijry: &quot;The gift that keeps on giving. 
                                        <strong>You’ll never regret signing up</strong>
                                        !&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Daniel Rojas: &quot;This is 
                                        <strong>an awesome community</strong>
                                        , I came because of the course, stayed thanks to the community.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Alex Konewko: &quot;So refreshing to hear such 
                                        <strong>authentic and insightful content</strong>
                                            being shared with an interesting and diverse cohort. Highly recommended!&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Vineet Thanedar: &quot;There is 
                                        <strong>no better community of solopreneurs</strong>
                                            on the internet.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Mike Ying: &quot;
                                        <strong>Great quality classes</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Mark Willis Borum: &quot;
                                        <strong>Worth 10x the cost</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Lila Tace: &quot;Small Bets is magical. 
                                        <strong>I found my place</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Nick Groeneveld: &quot;Can highly recommend Small Bets. It is 
                                        <strong>the best investment in my career</strong>
                                            I made. Connected with great people. Joined insightful master classes. Made over 8x the entrance fee on new projects.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        David Nix: &quot;If you are even a teeny-tiny bit interested in entrepreneurship, 
                                        <strong>you need this</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Alberto Sadde: &quot;
                                        <strong>One of the best communities</strong>
                                            I&#39;m part of. The events are top notch and even if I’m often unable to join the live session, recordings are always available.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Paul Waweru: &quot;
                                        <strong>Best investment I’ve made</strong>
                                        !&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Dave Kang: &quot;This is the most interesting entrepreneurial community I’m part of, 
                                        <strong>smart people</strong>
                                            making a living off the corporate grid.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Milly Barker: &quot;Watching just 6 hours of @dvassallo&#39;s Small Bets Fundamentals Zoom recordings has done me more good than 3+ years of striving to figure things out myself. 
                                        <strong>Gratitude doesn&#39;t even come close</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Denis Loginoff: &quot;Went to a potentially 
                                        <strong>life-changing</strong>
                                            lecture by @LBacaj in Small Bets! It made me rethink my entire strategy on side income.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Matouš Jemelka: &quot;Insane February line-up of events at @SmallBetsDotCom. Wonderful guests riffing on fascinating topics. I am especially looking forward to @jdnoc and @stephsmithio, but the overall 
                                        <strong>bar is extremely high</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Anton Cherkasov: &quot;I joined Small Bets last week, although I haven&#39;t had much time to explore. Nevertheless, through just a few chats, I have already gained valuable insights. The community of amazing people is 
                                        <strong>truly incredible</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Venkatesh Narayanan: &quot;Worth joining small bets and try out new things. The guest lectures 
                                        <strong>recordings are fantastic</strong>
                                        .&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Kunal Modi: &quot;Thanks to @dvassallo&#39;s small bets course and its 
                                        <strong>amazing community</strong>
                                        , I got the jumpstart that would have otherwise taken me ages to figure out on my own.&quot;
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        Greg Gilbert: &quot;I rarely recommend products publicly, but the Small Bets community offers 
                                        <strong>incredible value for the price</strong>
                                        .&quot;
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <hr id="divider05">
                        <ul id="buttons02" class="buttons">
                            <li>
                                <a href="http://dvassallo.gumroad.com/l/small-bets?wanted=true&offer_code=BF2024" class="button n01" role="button">JOIN NOW</a>
                            </li>
                        </ul>
                        <p id="text02">Join <%= number_with_delimiter(@user_count) %> members. Pay once, member forever.</p>
                    </div>
                </div>
            </div>
            <div id="container01" class="container default">
                <div class="wrapper">
                    <div class="inner"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
(function() {
    var on = addEventListener,
        off = removeEventListener,
        $ = function(q) {
            return document.querySelector(q)
        },
        $$ = function(q) {
            return document.querySelectorAll(q)
        },
        $body = document.body,
        $inner = $('.inner'),
        client = (function() {
            var o = {
                    browser: 'other',
                    browserVersion: 0,
                    os: 'other',
                    osVersion: 0,
                    mobile: false,
                    canUse: null,
                    flags: {
                        lsdUnits: false,
                    },
                },
                ua = navigator.userAgent,
                a,
                i;
            a = [['firefox', /Firefox\/([0-9\.]+)/], ['edge', /Edge\/([0-9\.]+)/], ['safari', /Version\/([0-9\.]+).+Safari/], ['chrome', /Chrome\/([0-9\.]+)/], ['chrome', /CriOS\/([0-9\.]+)/], ['ie', /Trident\/.+rv:([0-9]+)/]];
            for (i = 0; i < a.length; i++) {
                if (ua.match(a[i][1])) {
                    o.browser = a[i][0];
                    o.browserVersion = parseFloat(RegExp.$1);
                    break;
                }
            }
            a = [['ios', /([0-9_]+) like Mac OS X/, function(v) {
                return v.replace('_', '.').replace('_', '');
            }], ['ios', /CPU like Mac OS X/, function(v) {
                return 0
            }], ['ios', /iPad; CPU/, function(v) {
                return 0
            }], ['android', /Android ([0-9\.]+)/, null], ['mac', /Macintosh.+Mac OS X ([0-9_]+)/, function(v) {
                return v.replace('_', '.').replace('_', '');
            }], ['windows', /Windows NT ([0-9\.]+)/, null], ['undefined', /Undefined/, null]];
            for (i = 0; i < a.length; i++) {
                if (ua.match(a[i][1])) {
                    o.os = a[i][0];
                    o.osVersion = parseFloat(a[i][2] ? (a[i][2])(RegExp.$1) : RegExp.$1);
                    break;
                }
            }
            if (o.os == 'mac' && ('ontouchstart' in window) && ((screen.width == 1024 && screen.height == 1366) || (screen.width == 834 && screen.height == 1112) || (screen.width == 810 && screen.height == 1080) || (screen.width == 768 && screen.height == 1024)))
                o.os = 'ios';
            o.mobile = (o.os == 'android' || o.os == 'ios');
            var _canUse = document.createElement('div');
            o.canUse = function(property, value) {
                var style;
                style = _canUse.style;
                if (!(property in style))
                    return false;
                if (typeof value !== 'undefined') {
                    style[property] = value;
                    if (style[property] == '')
                        return false;
                }
                return true;
            };
            o.flags.lsdUnits = o.canUse('width', '100dvw');
            return o;
        }()),
        ready = {
            list: [],
            add: function(f) {
                this.list.push(f);
            },
            run: function() {
                this.list.forEach((f) => {
                    f();
                });
            },
        },
        trigger = function(t) {
            dispatchEvent(new Event(t));
        },
        cssRules = function(selectorText) {
            var ss = document.styleSheets,
                a = [],
                f = function(s) {
                    var r = s.cssRules,
                        i;
                    for (i = 0; i < r.length; i++) {
                        if (r[i] instanceof CSSMediaRule && matchMedia(r[i].conditionText).matches)
                            (f)(r[i]);
                        else if (r[i] instanceof CSSStyleRule && r[i].selectorText == selectorText)
                            a.push(r[i]);
                    }
                },
                x,
                i;
            for (i = 0; i < ss.length; i++)
                f(ss[i]);
            return a;
        },
        escapeHtml = function(s) {
            if (s === '' || s === null || s === undefined)
                return '';
            var a = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#39;',
            };
            s = s.replace(/[&<>"']/g, function(x) {
                return a[x];
            });
            return s;
        },
        thisHash = function() {
            var h = location.hash ? location.hash.substring(1) : null,
                a;
            if (!h)
                return null;
            if (h.match(/\?/)) {
                a = h.split('?');
                h = a[0];
                history.replaceState(undefined, undefined, '#' + h);
                window.location.search = a[1];
            }
            if (h.length > 0 && !h.match(/^[a-zA-Z]/))
                h = 'x' + h;
            if (typeof h == 'string')
                h = h.toLowerCase();
            return h;
        },
        scrollToElement = function(e, style, duration) {
            var y,
                cy,
                dy,
                start,
                easing,
                offset,
                f;
            if (!e)
                y = 0;
            else {
                offset = (e.dataset.scrollOffset ? parseInt(e.dataset.scrollOffset) : 0) * parseFloat(getComputedStyle(document.documentElement).fontSize);
                switch (e.dataset.scrollBehavior ? e.dataset.scrollBehavior : 'default') {
                case 'default':
                default:
                    y = e.offsetTop + offset;
                    break;
                case 'center':
                    if (e.offsetHeight < window.innerHeight)
                        y = e.offsetTop - ((window.innerHeight - e.offsetHeight) / 2) + offset;
                    else
                        y = e.offsetTop - offset;
                    break;
                case 'previous':
                    if (e.previousElementSibling)
                        y = e.previousElementSibling.offsetTop + e.previousElementSibling.offsetHeight + offset;
                    else
                        y = e.offsetTop + offset;
                    break;
                }
            }
            if (!style)
                style = 'smooth';
            if (!duration)
                duration = 750;
            if (style == 'instant') {
                window.scrollTo(0, y);
                return;
            }
            start = Date.now();
            cy = window.scrollY;
            dy = y - cy;
            switch (style) {
            case 'linear':
                easing = function(t) {
                    return t
                };
                break;
            case 'smooth':
                easing = function(t) {
                    return t < .5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1
                };
                break;
            }
            f = function() {
                var t = Date.now() - start;
                if (t >= duration)
                    window.scroll(0, y);
                else {
                    window.scroll(0, cy + (dy * easing(t / duration)));
                    requestAnimationFrame(f);
                }
            };
            f();
        },
        scrollToTop = function() {
            scrollToElement(null);
            if (window.location.hash) {
                history.pushState(null, null, '.');
            }
        },
        loadElements = function(parent) {
            var a,
                e,
                x,
                i;
            a = parent.querySelectorAll('iframe[data-src]:not([data-src=""])');
            for (i = 0; i < a.length; i++) {
                a[i].contentWindow.location.replace(a[i].dataset.src);
                a[i].dataset.initialSrc = a[i].dataset.src;
                a[i].dataset.src = '';
            }
            a = parent.querySelectorAll('video[autoplay]');
            for (i = 0; i < a.length; i++) {
                if (a[i].paused)
                    a[i].play();
            }
            e = parent.querySelector('[data-autofocus="1"]');
            x = e ? e.tagName : null;
            switch (x) {
            case 'FORM':
                e = e.querySelector('.field input, .field select, .field textarea');
                if (e)
                    e.focus();
                break;
            default:
                break;
            }
            a = parent.querySelectorAll('unloaded-script');
            for (i = 0; i < a.length; i++) {
                x = document.createElement('script');
                x.setAttribute('data-loaded', '');
                if (a[i].getAttribute('src'))
                    x.setAttribute('src', a[i].getAttribute('src'));
                if (a[i].textContent)
                    x.textContent = a[i].textContent;
                a[i].replaceWith(x);
            }
            x = new Event('loadelements');
            a = parent.querySelectorAll('[data-unloaded]');
            a.forEach((element) => {
                element.removeAttribute('data-unloaded');
                element.dispatchEvent(x);
            });
        },
        unloadElements = function(parent) {
            var a,
                e,
                x,
                i;
            a = parent.querySelectorAll('iframe[data-src=""]');
            for (i = 0; i < a.length; i++) {
                if (a[i].dataset.srcUnload === '0')
                    continue;
                if ('initialSrc' in a[i].dataset)
                    a[i].dataset.src = a[i].dataset.initialSrc;
                else
                    a[i].dataset.src = a[i].src;
                a[i].contentWindow.location.replace('about:blank');
            }
            a = parent.querySelectorAll('video');
            for (i = 0; i < a.length; i++) {
                if (!a[i].paused)
                    a[i].pause();
            }
            e = $(':focus');
            if (e)
                e.blur();
        };
    window._scrollToTop = scrollToTop;
    var thisUrl = function() {
        return window.location.href.replace(window.location.search, '').replace(/#$/, '');
    };
    var getVar = function(name) {
        var a = window.location.search.substring(1).split('&'),
            b,
            k;
        for (k in a) {
            b = a[k].split('=');
            if (b[0] == name)
                return b[1];
        }
        return null;
    };
    var errors = {
        handle: function(handler) {
            window.onerror = function(message, url, line, column, error) {
                (handler)(error.message);
                return true;
            };
        },
        unhandle: function() {
            window.onerror = null;
        }
    };
    loadElements(document.body);
    (function() {
        var scrollPointParent = function(target) {
                var inner;
                inner = $('#main > .inner');
                while (target && target.parentElement != inner)
                    target = target.parentElement;
                return target;
            },
            scrollPointSpeed = function(scrollPoint) {
                let x = parseInt(scrollPoint.dataset.scrollSpeed);
                switch (x) {
                case 5:
                    return 250;
                case 4:
                    return 500;
                case 3:
                    return 750;
                case 2:
                    return 1000;
                case 1:
                    return 1250;
                default:
                    break;
                }
                return 750;
            },
            doNextScrollPoint = function(event) {
                var e,
                    target,
                    id;
                e = scrollPointParent(event.target);
                if (!e)
                    return;
                while (e && e.nextElementSibling) {
                    e = e.nextElementSibling;
                    if (e.dataset.scrollId) {
                        target = e;
                        id = e.dataset.scrollId;
                        break;
                    }
                }
                if (!target || !id)
                    return;
                if (target.dataset.scrollInvisible == '1')
                    scrollToElement(target, 'smooth', scrollPointSpeed(target));
                else
                    location.href = '#' + id;
            },
            doPreviousScrollPoint = function(e) {
                var e,
                    target,
                    id;
                e = scrollPointParent(event.target);
                if (!e)
                    return;
                while (e && e.previousElementSibling) {
                    e = e.previousElementSibling;
                    if (e.dataset.scrollId) {
                        target = e;
                        id = e.dataset.scrollId;
                        break;
                    }
                }
                if (!target || !id)
                    return;
                if (target.dataset.scrollInvisible == '1')
                    scrollToElement(target, 'smooth', scrollPointSpeed(target));
                else
                    location.href = '#' + id;
            },
            doFirstScrollPoint = function(e) {
                var e,
                    target,
                    id;
                e = scrollPointParent(event.target);
                if (!e)
                    return;
                while (e && e.previousElementSibling) {
                    e = e.previousElementSibling;
                    if (e.dataset.scrollId) {
                        target = e;
                        id = e.dataset.scrollId;
                    }
                }
                if (!target || !id)
                    return;
                if (target.dataset.scrollInvisible == '1')
                    scrollToElement(target, 'smooth', scrollPointSpeed(target));
                else
                    location.href = '#' + id;
            },
            doLastScrollPoint = function(e) {
                var e,
                    target,
                    id;
                e = scrollPointParent(event.target);
                if (!e)
                    return;
                while (e && e.nextElementSibling) {
                    e = e.nextElementSibling;
                    if (e.dataset.scrollId) {
                        target = e;
                        id = e.dataset.scrollId;
                    }
                }
                if (!target || !id)
                    return;
                if (target.dataset.scrollInvisible == '1')
                    scrollToElement(target, 'smooth', scrollPointSpeed(target));
                else
                    location.href = '#' + id;
            };
        window._nextScrollPoint = doNextScrollPoint;
        window._previousScrollPoint = doPreviousScrollPoint;
        window._firstScrollPoint = doFirstScrollPoint;
        window._lastScrollPoint = doLastScrollPoint;
        window._scrollToTop = function() {
            scrollToElement(null);
            if (window.location.hash) {
                history.pushState(null, null, '.');
            }
        };
        if ('scrollRestoration' in history)
            history.scrollRestoration = 'manual';
        on('load', function() {
            var initialScrollPoint,
                h;
            h = thisHash();
            if (h && !h.match(/^[a-zA-Z0-9\-]+$/))
                h = null;
            initialScrollPoint = $('[data-scroll-id="' + h + '"]');
            if (initialScrollPoint)
                scrollToElement(initialScrollPoint, 'instant');
        });
        on('hashchange', function(event) {
            var scrollPoint,
                h,
                pos;
            h = thisHash();
            if (h && !h.match(/^[a-zA-Z0-9\-]+$/))
                return false;
            scrollPoint = $('[data-scroll-id="' + h + '"]');
            if (scrollPoint)
                scrollToElement(scrollPoint, 'smooth', scrollPointSpeed(scrollPoint));
            else
                scrollToElement(null);
            return false;
        });
        on('click', function(event) {
            var t = event.target,
                tagName = t.tagName.toUpperCase(),
                scrollPoint;
            switch (tagName) {
            case 'IMG':
            case 'SVG':
            case 'USE':
            case 'U':
            case 'STRONG':
            case 'EM':
            case 'CODE':
            case 'S':
            case 'MARK':
            case 'SPAN':
                while (!!(t = t.parentElement))
                    if (t.tagName == 'A')
                        break;
                if (!t)
                    return;
                break;
            default:
                break;
            }
            if (t.tagName == 'A' && t.getAttribute('href') !== null && t.getAttribute('href').substr(0, 1) == '#') {
                if (!!(scrollPoint = $('[data-scroll-id="' + t.hash.substr(1) + '"][data-scroll-invisible="1"]'))) {
                    event.preventDefault();
                    scrollToElement(scrollPoint, 'smooth', scrollPointSpeed(scrollPoint));
                } else if (t.hash == window.location.hash) {
                    event.preventDefault();
                    history.replaceState(undefined, undefined, '#');
                    location.replace(t.hash);
                }
            }
        });
    })();
    var style,
        sheet,
        rule;
    style = document.createElement('style');
    style.appendChild(document.createTextNode(''));
    document.head.appendChild(style);
    sheet = style.sheet;
    if (client.mobile) {
        (function() {
            if (client.flags.lsdUnits) {
                document.documentElement.style.setProperty('--viewport-height', '100svh');
                document.documentElement.style.setProperty('--background-height', '100lvh');
            } else {
                var f = function() {
                    document.documentElement.style.setProperty('--viewport-height', window.innerHeight + 'px');
                    document.documentElement.style.setProperty('--background-height', (window.innerHeight + 250) + 'px');
                };
                on('load', f);
                on('orientationchange', function() {
                    setTimeout(function() {
                        (f)();
                    }, 100);
                });
            }
        })();
    }
    if (client.os == 'android') {
        (function() {
            sheet.insertRule('body::after { }', 0);
            rule = sheet.cssRules[0];
            var f = function() {
                rule.style.cssText = 'height: ' + (Math.max(screen.width, screen.height)) + 'px';
            };
            on('load', f);
            on('orientationchange', f);
            on('touchmove', f);
        })();
        $body.classList.add('is-touch');
    } else if (client.os == 'ios') {
        if (client.osVersion <= 11)
            (function() {
                sheet.insertRule('body::after { }', 0);
                rule = sheet.cssRules[0];
                rule.style.cssText = '-webkit-transform: scale(1.0)';
            })();
        if (client.osVersion <= 11)
            (function() {
                sheet.insertRule('body.ios-focus-fix::before { }', 0);
                rule = sheet.cssRules[0];
                rule.style.cssText = 'height: calc(100% + 60px)';
                on('focus', function(event) {
                    $body.classList.add('ios-focus-fix');
                }, true);
                on('blur', function(event) {
                    $body.classList.remove('ios-focus-fix');
                }, true);
            })();
        $body.classList.add('is-touch');
    }
    ready.run();
})();
</script>
