<%= button_to rooms_directs_path(user_ids: [ user.id ]), class: "direct borderless fill-transparent unpad" do %>
  <span class="avatar">
    <%= image_tag fresh_user_avatar_path(user), role: "presentation" %>
  </span>

  <span class="direct__author flex align-center gap max-width min-width border-radius txt-small">
    <span class="txt-nowrap overflow-ellipsis">
      <%= user.name.split(' ')[0] %>
    </span>
  </span>
<% end %>
