<div id="<%= list_name %>" contents data-sorted-list-target="container" class="sidebar__list">
  <% memberships.each do |membership| %>
    <% cache(sidebar_membership_cache_key(list_name, membership)) do %>
      <%= render "users/sidebars/rooms/shared", list_name:, membership: %>
    <% end %>
  <% end %>
</div>