<div id="shared_rooms" contents>
  <% memberships.each do |membership| %>
    <%= render "users/sidebars/rooms/shared_with_threads", membership: membership, thread_memberships: thread_memberships %>
  <% end %>
</div>