<% content_for :nav do %>
  <%= account_logo_tag if Current.account.logo.attached? %>

  <%= tag.span class: "btn btn--reversed btn--faux room--current", style: "margin-left: 0.5ch" do %>
    <h1 class="room__contents txt-medium overflow-ellipsis">
      <%= title %>
    </h1>
  <% end %>

  <div class="flex-item-grow"></div>
<% end %> 